<h1 class="custom">App. html works!</h1>
<button (click)="getName('name', 'secondName')">Btn1</button>
<br><br>

<button (click)="getData('hello')">Btn2</button>
<br><br>

<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup">
<br><br>

<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event keydown">
<br><br>

<input type="text" #box2 (blur)="getData(box2.value)" placeholder="event blur">
<br><br>

<input type="text" #box3 (input)="getData(box3.value)" placeholder="event input">
<br><br>

<h1 (mouseover)="getData('over')">mouseover example</h1>
<h1 (mouseleave)="getData('leave')">mouseleave example</h1>

<input type="text" #boxx placeholder="enter name" name="name"/>
<button (click)="getValue(boxx.value)">Add</button>
<h1>Box value is : {{displayVal}}</h1>